<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Yoga Trekking: 
                        <strong>resonate with nature</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <p>

                        <blockquote>
                            The natural world is the greatest source of excitement; the greatest source of visual beauty; the greatest source of intellectual interest. It is the greatest source of so much in life that makes life worth living.
                            <cite>David Attenborough</cite>
                        </blockquote> 


                    </p>
                    <p>
                    Mountain Tadasana is a mobile studio focused on bioenergetics. We host lessons in remote mountain areas to help resonate every gathering with the natural frequencies of the environment. Each yoga practice draws on the area's local biology to increase well-being. By absorbing the energy of the mountains, we are motivated to release our inner blockages and resonate deeply with nature.</p>
                    
                    <p>Rotating our mobile studio among serene alpine environments allows us to benefit from each area's natural frequencies. Practicing yoga in a variety of natural areas motivates the circulation of one's own primal energies through removing the routines of urban life. By overcoming the challenges of even making it into the mountains, focus and concentration are heightened, energy is more available, and your yoga practice flourishes. Natural vibrations awaken life's vital energies.    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Imagine
                        <strong>a journey</strong>
                    </h2>
                    <hr>
                    <p>Breathe, imagine a meadow blossoming with Columbines all around you. Deep inside this Rocky Mountain valley you find a hint of peace. You continue to gather clues, but the answer is obvious, the answer is natural.</p>
                    
                    <p>Natural surroundings have a significant impact on the human body. In addition to exercise, outdoor activities help build a neural connection with the power of nature, natural environments increase focus and awareness, and new friends are made as confidence overcomes the fear of challenge.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">naturally
                        <strong>grounded</strong>
                    </h2>
                    <hr>
                    <p>Mountain Tadasana harmonizes group yoga practices with nature as a way to develop an intrinsic self-awareness among our students. Focus on the trek here, the vinyasa, and the natural tranquility as each adventure with us deepens appreciation for life!
                    </p>
                    <p>
                        Join us and let your yogi shine, naturally!
                </div>
            </div>
        </div>

    </div>